 
 @media (width > 770px) {
.backimage{
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: 400px;
     background-image:  
     url("../images/Capture456-removebg-preview.png")
      
     
      
}
 }
 
 .search-wrapper button {
    overflow: hidden;
    position: absolute;
    float: right;
    border: 0;
    padding:10px;
    cursor: pointer;
    height: 60px;
    width: 100px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
      
    background: #2796AD;
    border-radius: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
     
} 

.search-wrapper input {
  padding-left: 20px;
    width: 200px;
    height: 60px;
    /* padding: 10px 10px; */
    float: left;   
    /* font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
    border: 0;
    background: #fff;
    border-radius: 30px;
    border-top-style: none;
   
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}
.search-wrapper {
    width: 300px;
    border-radius: 40px; 
  background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
}
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
} 
 
 